google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
python-dotenv
openai
pinecone-client
tiktoken
pandas
faiss-cpu
beautifulsoup4
fastapi
uvicorn
streamlit
streamlit-chat
elevenlabs
ffmpeg
SpeechRecognition
pyaudio
playsound==1.2.2 
streamlit-sharing