@import 'root';

body
{
        background: rgb(6, 2, 21);
        background: radial-gradient(circle, rgb(0, 10, 28) 10%, rgb(0, 0, 11) 56%);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-x: hidden;

        header
        {
                height: 50px;
                width: 100%;
                box-sizing: border-box;
                padding: 0.2% 1%;
                display: inline-flex;
                position: sticky;
                top: 0;
                z-index: 999;
                background: linear-gradient(120deg, rgba(0, 12, 35, 0.601) 10%, rgba(0, 0, 11, 0.755) 56%);
                backdrop-filter: blur(10px);

                .logo
                {
                        height: 90%;

                        img
                        {
                                height: 90%;
                        }
                }
                ul
                {
                        display: inline-flex;
                        position: relative;
                        left: 60%;
                        margin-top: 1%;

                        li
                        {
                                list-style-type: none;
                                margin-left: 30px;
                                a
                                {
                                        @extend .txt-white;
                                        font-weight: 100;
                                        font-size: 12px;
                                }
                        }
                }
        }

        main
        {
                @extend .flex-column;
                height: 95vh;
                width: 100%;

                .showcase
                {
                        width: 80%;
                        height: 90%;
                        @extend .flex-column;
                        p
                        {
                                width: 80%;
                                font-size: 4vw;
                                text-align: center;
                        }

                        small
                        {
                                text-align: center;
                                margin-top: 3%;
                                font-size: 16px;
                                width: 40%;
                        }
                        a
                        {
                                margin-top: 3%;
                                width: 20%;
                                text-align: center;
                                height: 60px;
                                @extend .flex-column;
                                border-radius: 50px;
                        }
                }
        }

        section
        {
                width: 100%;
                height: 110vh;
                max-height: max-content;
                @extend .y-start;
                margin-bottom: 5%;
                box-sizing: border-box;
                padding: 2% 0;

                h1, span
                {
                        text-transform: none;
                        margin-bottom: 1%;
                }

                h1
                {
                        font-size: 30px;
                }

                video
                {
                        margin-top: 5%;
                        border-radius: 10px;
                        filter: opacity(.6);
                }

                .container
                {
                        border-radius: 11px;
                        // background: linear-gradient(145deg, #000511, #000614);
                        // box-shadow:  9px 9px 18px #000612,
                        // -9px -9px 18px #000614;
                        margin-top: 2%;
                        width: 80%;
                        height: 80%;
                        border: 1px solid darken(rgba(#000613, .5), 1);
                        backdrop-filter: blur(10px);
                        box-sizing: border-box;
                        padding: 10px;

                        .prompt-quiz
                        {
                                width: 100%;
                                height: 10%;
                                background-color: lighten(#000613, 1);
                                border-radius: inherit;
                                display: inline-flex;
                                box-sizing: border-box;
                                padding: 10px;


                                .user
                                {
                                        width: 30px;
                                        height: 30px;
                                        @extend .btn-gradient-blue, .flex-column;
                                        padding: 10px !important;
                                        margin-right: 1%;
                                        font-size: 15px;

                                }
                                .quiz
                                {
                                        font-size: 12px;
                                        margin-top: 0.5%;
                                        text-transform: none;
                                }
                        }

                        .response
                        {
                                margin-top: 1%;
                                height: 86%;
                                width: 100%;
                                background-color: lighten(#000613, 1);
                                border-radius: inherit;
                                display: inline-flex;
                                box-sizing: border-box;
                                padding: 10px;


                                .gpt
                                {
                                        img
                                        {
                                                position: relative;
                                                height: 8%;
                                                animation: rotate 50s ease-in infinite;
                                        }
                                }

                                p
                                {
                                        font-size: 12px;
                                        margin: 0 8px;
                                        text-transform: none;
                                        letter-spacing: 2px;
                                        line-height: 1.6rem;
                                }
                        }

                }
                .try
                {
                        border-radius: 50px;
                        margin-top: 1%;
                        width: 15%;
                        height: 60px;
                        text-align: center;
                        @extend .flex-column;
                }

                .grid-container
                {
                        width: 80%;
                        height: 80%;
                        border: 1px solid darken(rgba(#022061, .8), 10);
                        border-radius: 20px;
                        margin-top: 2%;;
                        backdrop-filter: blur(20px);
                        background: linear-gradient(45deg, rgba(#03153d, 0.2), rgba(#000309, 0.8));

                        @extend .grid-2;
                        box-sizing: border-box;
                        padding: 2%;
                        margin-bottom: 2%;

                        .grid-item
                        {
                                border: 1px solid darken(rgba(#082051, .8), 5);
                                border-radius: inherit;
                                height: 80%;
                                width: 95%;
                                backdrop-filter: blur(10px);
                                box-sizing: border-box;
                                padding: 10px;
                                @extend .flex-column;

                                img
                                {
                                        height: 30%;
                                }

                                p
                                {
                                        margin-left: 1%;
                                        font-size: 1.5rem;
                                        width: 80%;
                                        text-align: center;
                                }
                        }
                }
                .grid
                {
                        width: 80%;
                        height: 80%;
                        @extend .grid-2;
                        box-sizing: border-box;
                        padding: 1% 3%;
                        border: 1px solid darken(rgba(#022061, .8), 10);
                        border-radius: 20px;
                        margin-top: 2%;;
                        backdrop-filter: blur(20px);
                        background-color: 00091c;
                        background: linear-gradient(160deg, rgba(#020615, 0.9), rgba(darken(#5690ab, 40), 0.4));


                        img
                        {
                                margin-top: 10%;
                                border-radius: 10px;
                                width: 90%;
                        }

                        .text
                        {
                                box-sizing: border-box;
                                padding-top: 22%;
                                h1
                                {
                                        font-size: 3.0vw;
                                        width: 80%;
                                        font-weight: 100;
                                        margin-bottom: 5%;
                                }
                                small
                                {
                                        width: 80%;
                                        margin-bottom: 5%;
                                }
                        }
                }
                .auth-container
                {
                        width: 80%;
                        height: 80%;
                        box-sizing: border-box;
                        padding: 1% 3%;
                        border: 1px solid darken(rgba(#022061, .8), 10);
                        border-radius: 20px;
                        margin-top: 2%;;
                        backdrop-filter: blur(20px);
                        background-color: 00091c;
                        background: linear-gradient(160deg, rgba(#020615, 0.9), rgba(darken(#5690ab, 40), 0.4));
                        @extend .flex-column;

                        h1
                        {
                                font-size: 3rem;
                                width: 60%;
                                text-align: center;
                        }

                        *
                        {
                                margin-bottom: 2%;
                        }

                        a
                        {
                                width: 40%;

                                height: 60px;
                        }
                }
        }

        .partners
        {
            height: 55vh;
            width: 100%;
            @extend .y-start;


            h1
            {
                font-size: 3em;
                font-weight: 500;
                margin-top: 1%;
                margin-left: 1%;
                margin-bottom: 2%;
            }

            .partners-container
            {
                width: 40%;
                height: 20%;
                box-sizing: border-box;
                padding: 1%;
                @extend .grid-6 ;
                grid-gap: 20px;

                img
                {
                    height: 3%;
                    margin-left: 1%;
                    margin-top: 1%;
                    border-radius: 5px;
                }
            }
        }
}