@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  resize: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}

.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 5px;
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 5px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

.flex-column, body main .grid-2 .text, body .showcase .grid-2 .text, body main .prompt-container, body main .form-container, .x-end, .x-start, body main .prompt-container .response-container .response, body main .prompt-container .response-container .query, body main .prompt-container .response-container, .y-end, .y-start, body main, body .showcase, body main .prompt-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: inline-flex;
  justify-content: space-between;
}

.y-start, body main, body .showcase, body main .prompt-container .form-container, body main .prompt-container .response-container {
  justify-content: flex-start;
}

.y-end {
  justify-content: flex-end;
}

.x-start, body main .grid-2 .text, body .showcase .grid-2 .text, body main .prompt-container .response-container .response, body main .prompt-container .response-container .query, body main .prompt-container .response-container {
  align-items: flex-start;
}

.x-end {
  align-items: flex-end;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #149ddd, #176c8e);
  border-radius: 10px;
}

.btn-primary {
  background-color: #08597e;
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.btn-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #074866;
}

.btn-secondary {
  background-color: #daa520;
  border: 2px solid #05374e;
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.btn-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-secondary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ae8319;
}

.btn-rounded {
  border-radius: 15px;
}

.btn-flat {
  border-radius: 0;
}

.btn-red {
  background-color: rgb(218, 64, 64);
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-red i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-red:hover {
  background-color: #c22525;
}

.btn-green {
  background-color: rgb(5, 194, 106);
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-green i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-green:hover {
  background-color: #04904f;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.9333333333);
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-white:hover {
  background-color: rgba(230, 230, 230, 0.9333333333);
}

.shadowed, .google-btn {
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.478), inset -1px -1px rgba(255, 255, 255, 0.132), 1px 3px 24px -1px rgba(0, 0, 0, 0.27);
}

.btn-round {
  border-radius: 50%;
}
.btn-round * {
  margin: 0;
  padding: 0;
}

.btn-transparent-primary {
  background-color: transparent;
  color: #05374e;
  border: 2px solid #05374e;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-primary:hover {
  background-color: #05374e;
  color: rgba(255, 255, 255, 0.9333333333);
}

.btn-transparent-secondary {
  background-color: transparent;
  color: #daa520;
  border: 2px solid #daa520;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-secondary:hover {
  background-color: #daa520;
  color: rgba(255, 255, 255, 0.9333333333);
}

.btn-gradient {
  background: linear-gradient(45deg, #149ddd, #176c8e);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-gradient i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-gradient:hover {
  background: linear-gradient(45deg, #176c8e, #149ddd);
}

.btn-transparent-white {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9333333333);
  border: 2px solid rgba(255, 255, 255, 0.9333333333);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-white:hover {
  background-color: rgba(255, 255, 255, 0.9333333333);
  color: #111111;
}

.google-btn {
  margin: 25px;
  width: max-content;
  min-width: 184px;
  height: 42px;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
  border-radius: 1px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}

.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}

.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}

.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none;
}

.normal-btn {
  margin: 25px;
  width: auto;
  display: inline-block;
  min-width: auto;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s;
}

.normal-btn .btn-text {
  float: left;
  margin: 11px 14px 11px 14px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}

.normal-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}

.normal-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none;
}

.dot-primary {
  height: 30px;
  width: 50px;
  background-color: #05374e;
  border-radius: 50%;
}

.border-primary {
  height: 1px;
  width: 100px;
  background-color: #117dc5;
  padding: 0;
  border-radius: 50px;
}

.border-secondary {
  height: 1px;
  width: 100px;
  background-color: #cfe5fe;
}

.border-white {
  height: 1px;
  width: 100px;
  background-color: #fff;
}

.border-black {
  height: 1px;
  width: 100px;
  background-color: #111111;
}

.txt-caps {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-light {
  font-weight: 300;
}

.txt-primary {
  color: #08597e;
}

.txt-secondary {
  color: #ae8319;
}

.txt-white {
  color: rgba(255, 255, 255, 0.9333333333);
}

.txt-black {
  color: #111111;
}

.txt-red {
  color: rgb(218, 64, 64);
}

.txt-green {
  color: rgb(5, 194, 106);
}

.txt-center {
  text-align: center;
}

.txt-grey {
  color: #777777;
}

.txt-gradient {
  background: linear-gradient(45deg, #149ddd, #176c8e);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    position: relative;
    left: -100px;
    opacity: 0;
  }
  50% {
    position: relative;
    left: 10px;
    opacity: 0.5;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* End of animations */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.163), inset -1px -1px rgba(255, 255, 255, 0), 1px 3px 24px -1px rgba(0, 0, 0, 0.1);
  height: 65px;
  width: 100%;
  z-index: 99;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 2%;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.9333333333);
  backdrop-filter: blur(10px);
}
body header p {
  font-size: 20px;
  background: linear-gradient(45deg, #075275, #065d7f);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  letter-spacing: 1px;
  width: max-content;
}
body header nav {
  padding: 0;
  margin-left: 70%;
}
body header nav ul {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5px;
}
body header nav ul li {
  margin: 0 20px;
}
body header nav ul li a {
  font-size: 14px;
  color: #0e9cde;
}
body header nav ul li a:hover {
  color: #08597e;
  transition: all 1s ease-out;
}
body main {
  justify-content: center !important;
  height: 85vh;
}
body main img {
  opacity: 0;
  position: relative;
  animation: fadeIn 1s ease-in forwards 1;
}
body main .form-container {
  width: 40%;
  height: 80%;
  border-radius: 10px;
}
body main .form-container h2 {
  position: relative;
  top: -20%;
  font-weight: 300;
}
body main .prompt-container {
  position: relative;
  top: 4%;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
}
body main .prompt-container h2 {
  font-weight: 400;
  margin-bottom: 10px;
}
body main .prompt-container .response-container {
  width: 95%;
  height: 90%;
  margin-bottom: 10px;
  border-radius: inherit;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 2%;
}
body main .prompt-container .response-container .query {
  background-color: rgba(249, 249, 249, 0.9333333333);
  min-height: 7vh;
  max-height: max-content;
  width: 100%;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 5px;
}
body main .prompt-container .response-container .query p {
  font-size: 12px;
  margin-left: 1%;
  text-transform: none;
  max-width: 95%;
  max-height: max-content;
}
body main .prompt-container .response-container .query * {
  padding: 0;
}
body main .prompt-container .response-container .response {
  font-size: 12px;
  margin-left: 2%;
  margin-top: 1%;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 5px;
  margin-bottom: 1%;
  font-weight: 500;
}
body main .prompt-container .form-container {
  width: 95%;
  height: 10%;
  background-color: rgba(252, 252, 252, 0.9333333333);
  margin-left: 5%;
}
body main .prompt-container .form-container form {
  display: inline-flex;
  width: 100%;
  height: 95%;
}
body main .prompt-container .form-container form input {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background-color: rgba(237, 237, 237, 0.9333333333);
  box-sizing: border-box;
  padding: 0 2%;
  text-transform: none;
}
body main .prompt-container .form-container form input::placeholder {
  font-size: 13px;
}
body main .prompt-container .form-container form button {
  margin-left: -11%;
  margin-top: 0.5%;
  width: 10%;
  height: 80%;
  border: none;
  border-radius: 50px;
  background-color: #05374e;
  color: rgba(255, 255, 255, 0.9333333333);
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px;
}
body main, body .showcase {
  width: 100%;
  height: 85vh;
}
body main .grid-2, body .showcase .grid-2 {
  width: 85%;
  height: 85%;
  box-sizing: border-box;
  padding: 1%;
}
body main .grid-2 .text, body .showcase .grid-2 .text {
  height: 90%;
  width: 90%;
  border: inherit;
  box-sizing: border-box;
  padding: 0 1%;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards 1;
  animation-delay: 0.5s;
}
body main .grid-2 .text h1, body .showcase .grid-2 .text h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 30px;
}
body main .grid-2 .text *, body .showcase .grid-2 .text * {
  text-transform: none;
}
body main .grid-2 .text a, body .showcase .grid-2 .text a {
  font-size: 15px;
}
body main .grid-2 .text p, body .showcase .grid-2 .text p {
  width: 90%;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2rem;
  margin-left: 1%;
}